@import '../variables.scss';

.app-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 320px;
  z-index: $app-sidebar-z-index;
  background-color: white;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.25s ease-in-out;

  md-content {
    height: 100%;
    width: 100%;
  }

  &.visible {
    transform: translate3d(0, 0, 0);
  }

  .app-sidebar--items {
    list-style: none;
    margin:0;
    padding: 0;

    .app-sidebar--item {
      box-sizing: border-box;
      margin: 0;
      padding: 16px;
      height: 56px;
      cursor: pointer;

      &.active, &:hover {
        background-color: #ddd;
      }

      .app-sidebar--icon {
        display: inline-block;
        margin-right: 16px;
      }
    }
  }
}
